<h1>Đổi mật khẩu</h1>
<form onsubmit="onSubmit(event)">
    <div class="form-group">
        <label for="current-password">Mật khẩu hiện tại:</label>
        <input type="password" id="current-password" name="currentPassword" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="new-password">Mật khẩu mới:</label>
        <input type="password" id="new-password" name="newPassword" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="confirm-password">Nhập lại mật khẩu mới:</label>
        <input type="password" id="confirm-password" name="confirmPassword" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
</form>
<script>
    async function onSubmit(event) {
        event.preventDefault();

        // check confirmPassword === newPassword
        const formData = new FormData(event.target);
        try {
            const res = await axios.post('/api/change-password', formData);
            if (!res?.data?.result?.success) {
                // show fail res?.data?.result?.message
                return;
            }

            window.location.href = '/profile';
        }
        catch {

        }
    }
</script>