<style>
    .lesson-container {
        display: flex;
        gap: 20px;
    }
    .lesson-card {
        width: 300px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 10px;
        text-align: center;
        background-color: #fde1e1;
    }
    .lesson-card img {
        width: 100%;
        border-radius: 10px;
        height: 250px;
    }
    .lesson-title {
        font-size: 18px;
        font-weight: bold;
        margin: 10px 0 5px 0;
    }
    .lesson-info, .lesson-teacher {
        font-size: 14px;
        color: #555;
    }
    .level{
        background-color: #DEFFCF;
        color: #40FF8C;
        padding: 3px 15px;
        border-radius: 10px;
        border-color: #40FF8C;
        border: 2px;
        border-style: dashed;
    }
    .lesson-card a {
        position: absol10px;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: #ffffff;
        color: white;
        font-size: 20px;
        padding: 8px 10px;
        border: none;
        cursor: pointer;
        border-radius: 20px;
        text-align: center;
        text-decoration: none;
      }
    .lesson-card a:hover {
        background-color: #6bdeb9; 
    }
    .lesson-card a i {
        margin-right: 10px;
    }
</style>
<div href="/lessons-details" class="lesson-container">
    <div class="lesson-card">
        <img src="/images/img13.gif" alt="Lớp 1 - Nguyễn Anh">
        <div class="lesson-title">Danh sách các khóa học</div>
        <a onclick="detail('courses')">Chi tiết <i class="fa fa-arrow-right"></i></a>
    </div>
    <div class="lesson-card">
        <img src="/images/img13.gif" alt="Lớp 1 - Nguyễn Anh">
        <div class="lesson-title">Danh sách các bài học</div>
        <a  onclick="detail('lessons')">Chi tiết <i class="fa fa-arrow-right"></i></a>
    </div>
</div>
<script>
    function detail(id) {
        window.location.href = `/${id}`;
    }
</script>