<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<style>
    .chart-container {
        position: relative;
        width: 100%; /* Ensure container takes full width */
        padding-top: 56.25%; /* 16:9 aspect ratio */
        margin: 20px 0;
        background-color: #f9f9f9;
        border-radius: 10px;
    }

    .chart-container canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .stats {
        display: flex;
        flex-wrap: wrap; /* Allow items to wrap to new lines on smaller screens */
        justify-content: space-between;
        margin-top: 20px;
    }

    .stat-item {
        flex: 1;
        padding: 15px 25px;
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        text-align: center;
        margin: 0 10px;
        transition: background-color 0.3s, box-shadow 0.3s;
    }
    
    .stat-item:hover {
        background-color: #e6e6e6;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }
    
    .stat-item h3 {
        margin: 10px 0;
        font-size: 1.25em;
        color: #333;
    }
    
    .stat-item p {
        margin: 5px 0;
        font-size: 1em;
        color: #666;
    }    

    @media (max-width: 768px) {
        .stat-item {
            flex: 1 1 100%; /* Items take full width on smaller screens */
            margin: 10px 0; /* Adjust margin for better spacing */
        }
    }
    @media (min-width: 768px) and (max-width: 1200px) {
        .stat-item {
            flex: 2 2 45%; /* Items take full width on smaller screens */
            margin: 10px 10px; /* Adjust margin for better spacing */
            padding: 15px 25px;
        }
    }
    
</style>

<div class="w-full">
    <h1>Thống kê</h1>
    <div class="chart-container">
        <canvas id="myChart"></canvas>
    </div>
    <div class="stats">
        <div class="stat-item">
            <h3>Tổng số học sinh học</h3>
            <p><%= data?.studentAmount %> học sinh</p>
        </div>
        <div class="stat-item">
            <h3>Tổng số bài toán</h3>
            <p><%= data?.questionAmount %> bài toán</p>
        </div>
        <div class="stat-item">
            <h3>Bài toán có nhiều lượt truy cập nhiều nhất</h3>
            <p><strong><%= data?.question?.name %></strong></p>
        </div>
    </div>
</div>

<script>
    (async () => {
        const statisticsRes = await axios.get('/api/statistics');
        const statistics = statisticsRes?.data?.result;
        const chart = statistics?.resolutionAmountByDayOfMonth;
        const labels = Object.keys(chart).sort();
        const data = labels.map(label => {
            return chart[label];
        });

        new Chart(document.getElementById('myChart').getContext('2d'), {
            type: 'line',
            data: {
                labels: labels,
                datasets: [
                    {
                        label: 'Bài đã giải',
                        data: data,
                    },
                ]
            },
        })
    })();
</script>