<link href="/styles/test.style.css" rel="stylesheet" crossorigin="anonymous" />

<div>
  <button onclick="onSubmit()">CLICK ME!</button>
</div>
<div style="height: 100vh; width: 100vw;">
  <div id="block" style="height: 100%; width: 100%;"></div>
</div>

<script src="/scripts/k-blocks/number-solid.block.script.js"></script>
<script src="/scripts/k-blocks/number-select.block.script.js"></script>
<script src="/scripts/k-blocks/number-input.block.script.js"></script>
<script src="/scripts/test.script.js"></script>