<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

<div class="w-full h-full d-flex flex-column overflow-hidden">
    <div class="d-flex justify-content-between">
        <h1>Quản lí khối</h1>
        <div>
            <button class="btn btn-primary" onClick="onReview()">Xem</button>
            <button class="btn btn-primary" onClick="onSubmit()">Lưu</button>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#import-modal">Import</button>
            <button class="btn btn-primary" onClick="onExport()">Export</button>
        </div>
    </div>
    <div class="w-full h-full row flex-fill overflow-auto">
        <div class="h-full border" style="flex: 1 1 50%; min-width: 400px;">
            <div class="w-full h-full" id="block"></div>
        </div>
        <div class="h-full" style="flex: 1 1 50%; overflow-x: hidden; overflow-y: auto; min-width: 400px;">
            <div class="k-block-background">
                <div class="my-2">
                    <label for="name" class="form-label">Tên</label>
                    <input
                            id="name"
                            name="name"
                            type="text"
                            placeholder="Tên..."
                            class="form-control"
                    />
                </div>
                <div class="my-2">
                    <label for="color" class="form-label">Màu</label>
                    <input
                            id="color"
                            name="color"
                            type="text"
                            placeholder="Màu..."
                            class="form-control"
                    />
                </div>
                <div class="my-2">
                    <label for="output" class="form-label">Đầu ra</label>
                    <select name="output" id="output" class="form-control">
                        <option value="Empty">Không có</option>
                        <option value="Anything">Mọi thứ</option>
                        <option value="Number">Số</option>
                        <option value="String">Chuỗi</option>
                    </select>
                </div>
                <div class="my-2">
                    <label for="input" class="form-label">Đầu vào</label>
                    <select name="input" id="input" class="form-control">
                        <option value="Empty">Không có</option>
                        <option value="Anything">Mọi thứ</option>
                        <option value="Number">Số</option>
                        <option value="String">Chuỗi</option>
                    </select>
                </div>
                <div class="my-2">
                    <label for="previous-statement" class="form-label">Đầu trước</label>
                    <select name="previousStatement" id="previous-statement" class="form-control">
                        <option value="Empty">Không có</option>
                        <option value="Anything">Mọi thứ</option>
                        <option value="Number">Số</option>
                        <option value="String">Chuỗi</option>
                    </select>
                </div>
                <div class="my-2">
                    <label for="next-statement" class="form-label">Đầu sau</label>
                    <select name="nextStatement" id="next-statement" class="form-control">
                        <option value="Empty">Không có</option>
                        <option value="Anything">Mọi thứ</option>
                        <option value="Number">Số</option>
                        <option value="String">Chuỗi</option>
                    </select>
                </div>
                <div class="my-2">
                    <label for="note" class="form-label">Ghi chú</label>
                    <input
                            id="note"
                            name="note"
                            type="text"
                            placeholder="Ghi chú..."
                            class="form-control"
                    />
                </div>
            </div>
            <div class="k-block-content-wrap k-wrap" style="max-height: min(600px, 100%);">
                <div class="k-block-content">
                    <div class="k-block-content-messages">
                    </div>
                    <div>
                        <button class="k-block-field-add btn btn-primary" onclick="onAddMessage(event)">Thêm dòng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="import-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form onsubmit="onImport(event)">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Import khối</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <label for="block">Chọn khối</label>
                        <input id="block" name="block" type="file"/>
                    </div>
                    <div>
                        <label for="images">Chọn hình</label>
                        <input id="images" name="images" type="file" multiple/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary">Đồng ý</button>
                </div>
            </form>
        </div>
    </div>
</div>

<input name="id" type="hidden" value="<%= data?.block?._id %>"/>
<input name="questionId" type="hidden" value="<%= data?.questionId %>"/>

<div class="k-clone k-clone-block-detail">
    <div class="k-block-content-message k-wrap my-2" style="max-height: min(600px, 100%);">
        <div class="d-flex justify-content-between">
            <div></div>
            <div>
                <i
                        class="fas fa-trash-alt"
                        style="color: #ff0000; cursor: pointer;"
                        onclick="event.target.closest('.k-block-content-message').remove()"
                ></i>
            </div>
        </div>
        <div class="k-block-content-args" style="max-height: min(600px, 100%);">
        </div>
        <div>
            <button class="k-block-field-add btn btn-primary" onclick="onAddArg(event)">Thêm biến</button>
        </div>
    </div>
    <div class="k-block-content-arg k-wrap my-2">
        <div class="d-flex justify-content-between">
            <div></div>
            <div>
                <i
                        class="fas fa-trash-alt"
                        style="color: #ff0000; cursor: pointer;"
                        onclick="event.target.closest('.k-block-content-arg').remove()"
                ></i>
            </div>
        </div>
        <div class="my-2">
            <select name="type" class="form-control">
                <option value="field_label">Đoạn văn</option>
                <option value="field_image">Hình ảnh</option>
                <option value="field_checkbox">Checkbox</option>
                <option value="field_number">Nhập số</option>
                <option value="field_input">Nhập chữ</option>
                <option value="field_dropdown">Bộ chọn</option>
                <option value="input_value">Đầu ra khối</option>
                <option value="input_statement">Đầu trước khối</option>
            </select>
        </div>
        <div class="k-block-content-arg-properties"></div>
    </div>
    <div class="k-block-content-arg-properties-type-label">
        <div class="my-2">
            <input
                    name="name"
                    type="text"
                    placeholder="Tên..."
                    class="form-control"
            />
        </div>
        <div class="my-2">
            <input
                    name="text"
                    type="text"
                    placeholder="Chuỗi..."
                    class="form-control"
            />
        </div>
    </div>
    <div class="k-block-content-arg-properties-type-image">
        <div class="my-2">
            <input
                    name="name"
                    type="text"
                    placeholder="Tên..."
                    class="form-control"
            />
        </div>
        <div class="my-2">
            <input
                    name="width"
                    type="number"
                    value="100"
                    placeholder="Tên..."
                    class="form-control"
            />
        </div>
        <div class="my-2">
            <input
                    name="height"
                    type="number"
                    value="100"
                    placeholder="Tên..."
                    class="form-control"
            />
        </div>
        <div class="my-2">
            <input
                    name="imageName"
                    type="button"
                    value="Hình ảnh..."
                    class="form-control"
                    style="text-align: left;"
            />
            <input name="src" type="text" style="display: none;" />
            <input name="image" type="file" style="display: none;" />
        </div>
    </div>
    <div class="k-block-content-arg-properties-type-checkbox">
        <div class="my-2">
            <input
                    name="name"
                    type="text"
                    placeholder="Tên..."
                    class="form-control"
            />
        </div>
    </div>
    <div class="k-block-content-arg-properties-type-number">
        <div class="my-2">
            <input
                    name="name"
                    type="text"
                    placeholder="Tên..."
                    class="form-control"
            />
        </div>
    </div>
    <div class="k-block-content-arg-properties-type-input">
        <div class="my-2">
            <input
                    name="name"
                    type="text"
                    placeholder="Tên..."
                    class="form-control"
            />
        </div>
    </div>
    <div class="k-block-content-arg-properties-type-dropdown">
        <div class="my-2">
            <input
                    name="name"
                    type="text"
                    placeholder="Tên..."
                    class="form-control"
            />
        </div>
        <div class="k-block-dropdown-options-wrap k-wrap" style="max-height: 200px;">
            <div class="k-block-dropdown-options"></div>
            <div>
                <button class="btn btn-primary" onclick="onAddOption(event)">Thêm lựa chọn</button>
            </div>
        </div>
    </div>
    <div class="k-block-dropdown-option k-wrap my-2">
        <div class="d-flex justify-content-between">
            <div></div>
            <div>
                <i
                        class="fas fa-trash-alt"
                        style="color: #ff0000; cursor: pointer;"
                        onclick="event.target.closest('.k-block-dropdown-option').remove()"
                ></i>
            </div>
        </div>
        <div class="my-2">
            <div class="my-2">
                <input
                        name="label"
                        type="text"
                        placeholder="Tên..."
                        class="form-control"
                />
            </div>
            <input
                    name="value"
                    type="text"
                    placeholder="Mã..."
                    class="form-control"
            />
        </div>
    </div>
    <div class="k-block-content-arg-properties-type-input-value">
        <div class="my-2">
            <input
                    name="name"
                    type="text"
                    placeholder="Tên..."
                    class="form-control"
            />
        </div>
    </div>
    <div class="k-block-content-arg-properties-type-input-statement">
        <div class="my-2">
            <input
                    name="name"
                    type="text"
                    placeholder="Tên..."
                    class="form-control"
            />
        </div>
    </div>
</div>

<script src="/scripts/managers/block-detail.script.js"></script>