<table class="table table-striped mt-3">
    <thead>
    <tr>
      <h1>Quản lí khối</h1>
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#accountModal" onClick="upsert('<%= data?.newId %>')">Tạo khối</button>
        <th>STT</th>
        <th>Tên khối</th>
        <th>Người tạo</th>
        <th>Ngày tạo</th>
        <th>Hành động</th>
    </tr>
    </thead>
    <tbody>
    <% for (const block of (data?.blocks || [])) { %>
        <tr>
          <td>1</td>
          <td><%= block?.code %></td>
          <td>Minh Trí</td>
          <td>13/05/2024 20:53 </td>
          <td class="align-middle">
            <button class="btn btn-secondary btn-sm me-1" onClick="upsert('<%= block?._id %>')"><i class="fas fa-edit"></i></button>
            <button class="btn btn-danger btn-sm" onClick="del('<%= block?._id %>')"><i class="fas fa-trash-alt"></i></button>
          </td>        
        </tr>
    <% } %>
    </tbody>
</table>

<script>
  function upsert(id) {
    window.location.href = `/blocks/${id}`;
  }
  async function del(id) {
    await axios.delete(`http://localhost:5500/blocks/${id}`);
    location.reload()
  }
</script>