<style>
    input[type="text"], input[type="number"], select {
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        box-sizing: border-box;
    }
  
    .add-option-container {
      align-items: center;
    }
  
    .add-option-container button {
      margin-top: 10px;
    }
  </style>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  
  <div class="w-100 h-100 row">
      <div class="h-100 col-8 border">
          <div id="block" style="height: 100%; width: 100%;"></div>
      </div>
      <div class="col-4 d-flex flex-column gap-3">
          <div>
              <div>
                  <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#import-modal">IMPORT</button>
                  <button class="btn btn-primary" onClick="onExport()">EXPORT</button>
              </div>
          </div>
      </div>
  </div>
  
  <div class="modal fade" id="import-modal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <form onsubmit="onImport(event)">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Import khối</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                      </button>
                  </div>
                  <div class="modal-body">
                      <div>
                          <label for="block">Chọn khối</label>
                          <input id="block" name="block" type="file" />
                      </div>
                      <div>
                          <label for="images">Chọn hình</label>
                          <input id="images" name="images" type="file" multiple />
                      </div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                      <button type="submit" class="btn btn-primary">Đồng ý</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
  
  <input name="id" type="hidden" value="<%= data?.block?._id %>"/>
  
  <script src="/scripts/managers/block-detail.script.js"></script>
  <script>
      async function onImport(event) {
        event.preventDefault();

        const id = document.querySelector('input[name="id"]')?.value;

        const formData = new FormData(event.target);
        
        try {
          const res = await axios.post(`/api/blocks/${id}/import`, formData);
          if (res.data.success) {
            Toastify({
              text: 'Import khối thành công!',
              duration: 3000,
              gravity: 'top',
              position: 'right',
              backgroundColor: '#4CAF50',
            }).showToast();
            // Cập nhật giao diện hoặc thực hiện hành động cần thiết khi import thành công
          } else {
            throw new Error('Import không thành công. Vui lòng thử lại.');
          }
        } catch (error) {
          console.error('Import Error:', error);
          Toastify({
            text: 'Đã xảy ra lỗi khi import khối. Vui lòng thử lại sau.',
            duration: 3000,
            gravity: 'top',
            position: 'right',
            backgroundColor: '#ff6347',
          }).showToast();
        }
        
        // Đóng modal import sau khi xử lý xong
        const importModal = document.getElementById('import-modal');
        const modal = bootstrap.Modal.getInstance(importModal);
        modal.hide();
      }
    </script>  