<button onClick="upsert('<%= data?.newId %>')">Tạo</button>
<table>
    <thead>
    <tr>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <% for (const _class of (data?.classes || [])) { %>
        <tr>
            <td><%= _class?.code %></td>
            <td>
              <td class="align-middle">
                <button class="btn btn-secondary btn-sm me-1" onClick="upsert('<%= block?._id %>')"><i class="fas fa-edit"></i></button>
                <button class="btn btn-danger btn-sm" onClick="del('<%= block?._id %>')"><i class="fas fa-trash-alt"></i></button>
              </td> 
            </td>
        </tr>
    <% } %>
    </tbody>
</table>

<script>
  function upsert(id) {
    window.location.href = `/classes/${id}`;
  }
  async function del(id) {
    await axios.delete(`http://localhost:5500/classes/${id}`);
    location.reload()
  }
</script>