<div class="w-full h-full">
    <div>
        <button onclick="markByAnswer()">Chấm điểm bằng đáp án</button>
    </div>
    <table>
        <thead>
        <tr>
            <th>Bài toán</th>
            <th>Học sinh</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <% for (const resolution of data?.resolutions || []) { %>
        <tr onclick="onDetail('<%= resolution?._id %>')">
            <td>
                <%= resolution?.questionId %>
            </td>
            <td>
                <%= resolution?.createdById %>
            </td>
            <td>
                <button class="btn btn-secondary" onClick="onDetail('<%= resolution?._id %>')"><i class="fas fa-edit"></i></button>
            </td>
        </tr>
        <% } %>
        </tbody>
    </table>
</div>

<script>
    function onDetail(id) {
        window.location.href = `/resolutions/${id}`;
    }

    async function markByAnswer() {
      try {
        const res = await axios.put('/api/resolutions/mark-by-answer', {});
        if (!res?.data?.result?.success) {
          console.log('errors', res?.data?.result?.errors);
          return;
        }
        window.location.reload();
      }
      catch {
        alert('Server error!');
      }
    }
</script>