<div class="w-full h-full">
    <div class="w-full d-flex" style="height: max-content;">
        <div style="width: 400px; height: max-content;">
            <div class="w-full" style="height: 400px;">
                <div id="review-workspace" style="height: 100%; width: 100%;"></div>
            </div>
        </div>

        <div>
            <div>
                <button onclick="submit()">CHẤM ĐIỂM</button>
            </div>
            <input name="score" type="number" min="0" max="10" value="10" />
        </div>
    </div>
</div>

<input name="id" type="hidden" value="<%= data?.resolution?._id %>" />
<input name="questionId" type="hidden" value="<%= data?.resolution?.questionId %>" />

<script>
  const idInput = document.querySelector('input[name="id"]');
  const questionIdInput = document.querySelector('input[name="questionId"]');
  let solveWorkspace;

  init();

  async function submit() {
    const formData = new FormData();
    formData.set('score', document.querySelector('input[name="score"]').value);
    await axios.put(`/api/resolutions/${idInput?.value}/mark`, formData);

    window.location.href = `/resolutions`;
  }

  async function init() {
    const blocks = await initBlocks();

    for (const block of blocks) {
      Blockly.Blocks[block.type] = {
        init: function () {
          this.jsonInit(block);
        }
      };
    }

    const questionRes = await axios.get(`/api/questions/${questionIdInput?.value}`);
    const question = questionRes?.data?.result?.question;
    const toolboxContents = question?.toolbox?.blocks?.blocks?.map(block => {
      return {
        kind: 'block',
        type: block.type,
      }
    }) || [];

    solveWorkspace = Blockly.inject(document.getElementById('review-workspace'), {
      toolbox: {
        contents: toolboxContents,
      },
      readOnly: true,
    })

    Blockly.serialization.workspaces.load(question?.blocksDefault, solveWorkspace);
  }

  async function initBlocks() {
    const blocksRes = await axios.get('/api/blocks');
    return blocksRes?.data?.result?.blocks || [];
  }
</script>