<style>
    .course-container {
        display: flex;
        gap: 20px;
    }
    .course-card {
        width: 300px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 10px;
        text-align: left;
        cursor: pointer;
    }
    .course-card:nth-child(1) {
        background-color: #fffbcc;
    }
    .course-card:nth-child(2) {
        background-color: #ccf2ff;
    }
    .course-card:nth-child(3) {
        background-color: #edd5f8;
    }
    .course-card:nth-child(4) {
        background-color: #e3ffd7;
    }
    .course-card img {
        width: 100%;
        border-radius: 10px;
    }
    .course-title {
        font-size: 18px;
        font-weight: bold;
        margin: 10px 0 5px 0;
    }
    .course-info {
        font-size: 14px;
        color: #555;
    }
</style>
<h1>C치c kh칩a h敲껶</h1>
<div class="course-container">
    <div class="course-card">
        <img src="/images/img1.jpg" alt="L敲뜷 1 - Nguy敲n Anh">
        <div class="course-title">L敲뜷 1 - Nguy敲n Anh</div>
        <div class="course-info">Ng맟 t故멾: 20/04/2024</div>
        <div class="course-info">游논 50</div>
    </div>
    <div class="course-card">
        <img src="/images/img2.png" alt="L敲뜷 1 - Cao Ng칙n">
        <div class="course-title">L敲뜷 1 - Cao Ng칙n</div>
        <div class="course-info">Ng맟 t故멾: 20/04/2024</div>
        <div class="course-info">游논 12</div>
    </div>
    <div class="course-card">
        <img src="/images/img3.png" alt="L敲뜷 2 - Cao Ng칙n">
        <div class="course-title">L敲뜷 2 - Cao Ng칙n</div>
        <div class="course-info">Ng맟 t故멾: 30/04/2024</div>
        <div class="course-info">游논 39</div>
    </div>
    <div class="course-card">
        <img src="/images/img4.png" alt="L敲뜷 2 - Nguy敲n Anh">
        <div class="course-title">L敲뜷 2 - Nguy敲n Anh</div>
        <div class="course-info">Ng맟 t故멾: 30/04/2024</div>
        <div class="course-info">游논 79</div>
    </div>
</div>

<%= JSON.stringify(data)%>
<% for (const course of (data?.courses || [])) { %>
    <div onclick="detail('<%= course._id %>')"><%= course.code %></div>
<% } %>

<script>
    function detail(id) {
        console.log('Hello', id);
        window.location.href = `/courses/${id}`;
    }
</script>