<div class="w-full h-full">
    <div class="w-full d-flex gap-3" style="height: max-content;">
        <div style="width: 400px; height: max-content;">
            <div class="w-full" style="height: 400px;">
                <div id="solve-workspace" style="height: 100%; width: 100%;"></div>
            </div>
        </div>

        <div>
            <% if (data?.resolution?.score === null || data?.resolution?.score === undefined) { %>
                <div>
                    <button class="btn btn-sm btn-primary" onclick="submit()">Nộp bài</button>
                </div>
            <% } %>
            <% if (data?.resolution?.content) { %>
                <% if (data?.resolution?.score !== null && data?.resolution?.score !== undefined) { %>
                    <div><%= data?.resolution?.score %> điểm</div>
                <% } else { %>
                    <div>Chờ chấm điểm</div>
                <% } %>
            <% } %>
        </div>
    </div>
</div>

<input name="questionId" type="hidden" value="<%= data?.question?._id %>" />

<script>
  let solveWorkspace;

  // init
  (async () => {
    const questionId = document.querySelector('input[name="questionId"]').value;
    const blocks = await (async () => {
      const blocksGlobalRes = await axios.get('/api/blocks');
      const blocksOfQuestionRes = await axios.get('/api/blocks', {
        params: {
          questionId: questionId,
        },
      });
      return [
        ...(blocksGlobalRes?.data?.result?.blocks || []),
        ...(blocksOfQuestionRes?.data?.result?.blocks || []),
      ];
    })();

    for (const block of blocks) {
      Blockly.Blocks[block.type] = {
        init: function () {
          this.jsonInit(block);
        }
      };
    }

    const questionRes = await axios.get(`/api/questions/${questionId}`);
    const question = questionRes?.data?.result?.question;
    const toolboxContents = question?.toolbox?.blocks?.blocks?.map(block => {
      return {
        kind: 'block',
        type: block.type,
      }
    }) || [];

    solveWorkspace = K.initWorkspace({
      node: document.getElementById('solve-workspace'),
      options: {
        toolbox: {
          contents: toolboxContents,
        },
      },
    });

    const resolution = await (async () => {
      const resolutionRes = await axios.get('/api/resolutions/solve', {
        params: {
          questionId: questionId,
        },
      });
      return resolutionRes?.data?.result?.resolution;
    })();

    Blockly.serialization.workspaces.load(resolution?.content || question?.blocksDefault, solveWorkspace);
  })();

  async function submit() {
    const questionId = document.querySelector('input[name="questionId"]').value;

    const formData = new FormData();
    const content = Blockly.serialization.workspaces.save?.(solveWorkspace);
    formData.set('content', JSON.stringify(content));
    await axios.put(`/questions/${questionId}/solve`, formData);

    window.location.href = `/questions/${questionId}`;
  }
</script>